@media (max-width: 768px) {
    #customSigns{
        margin-top: 110vh;
      }
    #l4{
      font-size: 0.8rem;
    }
    #infoPage{
      height: 280vh !important;
    }
    #teaserVid{
      height: 25vh !important;
      width: 40vh !important;
    }
    #productList {
      display: grid !important;
      align-items: center !important;
      grid-template-columns: 1fr 1fr !important;
    }
    .product{
      padding: 5px !important;
      margin: 5px !important;
    }
    .product img {
      width: 20vh !important;
      height: 20vh !important;
    }
    #navLinks,
    #icons {
        display: none !important;
    }
    #homeLogo{
      top: -1.5vh !important;
    }
  }