@media (max-width: 768px) {
    #mobileNav {
      width: 75% !important;
    }
    #infoPage{
      height: 280vh !important;
    }
    #navLinks,
    #icons {
        display: none !important;
    }
    #homeLogo{
      top: -1.5vh !important;
    }
  }



#customizeSection p{
  color: #fff;
  font-family: "Kanit";
  margin-top: -30px;
}


#textOnBG h1{
  color: white;
  font-family: "Kanit";
  font-size: 5vh;
}

#customizeSection{
  height: 88vh;
}

#textOnBG{
  text-align: center;
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translate(-50%,-42%);
}

.customInputs{
  width: 25vh;
  height: 3vh;
  background-color: #121212;
  border: #383838 solid 1px;
  border-radius: 5px;
  text-align: center;
  color: white;
}

#description{
  width: 35vh;
  height: 10vh;
  background-color: #121212;
  border: #383838 solid 1px;
  border-radius: 5px;
  resize: none;
  color: #fff;
}

#sendLoader {
  width: 50px;
  height: 50px;
}

#sendLoader::after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  top: -30px;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  border: 6px solid rgb(255, 255, 255);
  border-top: 6px dotted rgb(255, 255, 255);
  border-bottom: 6px dotted rgb(253, 253, 253);
  border-radius: 50%;
  animation: loading 2s infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(360deg);
  }
}