@media (max-width: 768px) {
  #mobileNav {
    width: 75% !important;
  }
  #customSigns{
      margin-top: 110vh;
    }
  #l4{
    font-size: 0.8rem;
  }
  #infoPage{
    height: 280vh !important;
  }
  #teaserVid{
    height: 25vh !important;
    width: 40vh !important;
  }
  #productList {
    display: grid !important;
    align-items: center !important;
    grid-template-columns: 1fr 1fr !important;
  }
  .product{
    padding: 5px !important;
    margin: 5px !important;
  }
  .product img {
    width: 20vh !important;
    height: 20vh !important;
  }
  #navLinks,
  #icons {
      display: none !important;
  }
  #homeLogo{
    top: -1.5vh !important;
  }
}

/*Footer*/
footer {
  background-color: #121212;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-top: 1px solid #3838389a;
  font-family: "Kanit";
}
#copyright{
  color: #747474;
  font-size: 1.2vh;
}

#love{
  
  color: #747474;
  font-size: 1.2vh;
  margin-top: -12px;
}
#love a{
  color: #5518AB;
  text-decoration: none;
  transition: .2s all ease;
}

#love a:hover{
  color: white;
}

.payment-icons{
  margin-top: -10px;
  font-size: 3vh;
}

.social-menu{
  margin-top: 5vh;
  font-size: 3vh;

}

#customizeSection p{
  color: #fff;
  font-family: "Kanit";
  margin-top: -30px;
}


#textOnBG h1{
  color: white;
  font-family: "Kanit";
  font-size: 5vh;
}

#customizeSection{
  height: 88vh;
}

#textOnBG{
  text-align: center;
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translate(-50%,-42%);
}

.buttonR{
  cursor: pointer;
  text-decoration: none;
  font-family: "Kanit";
  border: none;
  padding: .75em;
  border-radius: 0.5em;
  background: none;
  color: white;
  border: 0.2vh solid white;
  transition: .2s ease-in-out all;
  font-size: 2vh;
}

.buttonR:hover{
  background-color: white;
  color: black;
  transform: translateX(-15px);
}

#design{
  text-align: center;
}

#design h1{
  font-size: 4vh;
  color: white;
  font-family: "Kanit";
}

.file-upload {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  width: 15vh;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Kanit";
}

.remove-file, #file-name {
  display: none;
  color: #1d7715;
  cursor: pointer;
  margin-left: 10px;
  font-family: "Kanit";
}

#removeFile{
  color: white !important;
  transition: .2s ease-in-out;
}

#removeFile:hover{
  color: rgb(77, 77, 77) !important;
}

#design{
  margin-top: 8%;
}

.scroll {
	background-color: rgba(1, 1, 1, 0.841);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade {
  animation: fade-in 1s;
}

.customInputs{
  width: 25vh;
  height: 3vh;
  background-color: #121212;
  border: #383838 solid 1px;
  border-radius: 5px;
  text-align: center;
  color: white;
}

#description{
  width: 35vh;
  height: 10vh;
  background-color: #121212;
  border: #383838 solid 1px;
  border-radius: 5px;
  resize: none;
  color: #fff;
}

@media (max-width: 768px) {
  #container h1 {
    margin-top: 15vh;
    text-align: center;
  }
  #header1{
    font-size: 4vh !important;
  }
  #textOnBG h1{
    font-size: 4vh !important;
  }

  #textOnBG img{
    width: 40vh;
  }
}
#container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
#container h1 {
  text-align: center;
}

#sendLoader {
  width: 50px;
  height: 50px;
}

#sendLoader::after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  top: -30px;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  border: 6px solid rgb(255, 255, 255);
  border-top: 6px dotted rgb(255, 255, 255);
  border-bottom: 6px dotted rgb(253, 253, 253);
  border-radius: 50%;
  animation: loading 2s infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(360deg);
  }
}