::-webkit-scrollbar{
	display: none;
}

body {
  margin: 0;
  padding: 0;
  border: none;
}

video
{
	height: 100vh;
  object-fit: cover;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -9999;
}

nav
{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 6vh;
  margin: 0 auto;
  transition: all 0.45s ease;
  color: white;
  transition: 1s ease all;

}
.scroll {
	background-color: rgba(1, 1, 1, 0.693);
	color: white;
}

#middle-side
{
  z-index: 1;
  position: relative;
  top: 1vh;
  text-align: center;
  font-size: 1.5vh;
}

#middle-side a
{
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	text-decoration: none;
}

#left-side a
{
  text-decoration: none;
  top: 1.5vh;
  left: 1.5vw;
  position: absolute;
}

ul{
	top: calc(100% / 2 - 60px);
	position: fixed;
	height: auto;
	right: 10px;
}
	
li{
	list-style-type: none;
	width: 0.8vh;
	height: 0.8vh;
	background-color: rgb(255, 255, 255);
	border-radius: 0.4vh;
	margin: 2vh 1.5vh;
	transition: 0.4s ease;
}
	
.active{
	background-color: #121212;
}

#infoPage{
	height: 100vh;
	width: 100%;
	background-color: #121212;
}